{% extends 'main/layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="container main-news pt-5 pb-5">
    <div class="d-flex flex-row main-news__item mb-5">
        <img src="media/images/news/news.jpg" alt="news image">
        <div class="ml-3">
            <h5><a href="#">
                В ПОЛИКЛИНИКЕ ОГАУЗ «ГКБ №3 ИМ. Б.И. АЛЬПЕРОВИЧА» НАЧАЛАСЬ ВАКЦИНАЦИЯ НАСЕЛЕНИЯ ПРОТИВ COVID-19
                ВАКЦИНОЙ ДЛЯ ПРОФИЛАКТИКИ НОВОЙ КОРОНАВИРУСНОЙ ИНФЕКЦИИ COVID-19 ГАМ-КОВИД-ВАК.
            </a>
            </h5>
            <p>
                В поликлинике ОГАУЗ «ГКБ №3 им. Б.И. Альперовича» началась вакцинация населения против COVID-19
                вакциной для профилактики новой коронавирусной инфекции COVID-19 Гам-Ковид-Вак. Вакцинация
                проводится строго…
            </p>
        </div>
    </div>
    <div class="d-flex flex-row main-news__item mb-5">
        <img src="media/images/news/news.jpg" alt="news image">
        <div class="ml-3">
            <h5><a href="#">
                В ПОЛИКЛИНИКЕ ОГАУЗ «ГКБ №3 ИМ. Б.И. АЛЬПЕРОВИЧА» НАЧАЛАСЬ ВАКЦИНАЦИЯ НАСЕЛЕНИЯ ПРОТИВ COVID-19
                ВАКЦИНОЙ ДЛЯ ПРОФИЛАКТИКИ НОВОЙ КОРОНАВИРУСНОЙ ИНФЕКЦИИ COVID-19 ГАМ-КОВИД-ВАК.
            </a>
            </h5>
            <p>
                В поликлинике ОГАУЗ «ГКБ №3 им. Б.И. Альперовича» началась вакцинация населения против COVID-19
                вакциной для профилактики новой коронавирусной инфекции COVID-19 Гам-Ковид-Вак. Вакцинация
                проводится строго…
            </p>
        </div>
    </div>
    <div class="d-flex flex-row main-news__item mb-5">
        <img src="media/images/news/news.jpg" alt="news image">
        <div class="ml-3">
            <h5><a href="#">
                В ПОЛИКЛИНИКЕ ОГАУЗ «ГКБ №3 ИМ. Б.И. АЛЬПЕРОВИЧА» НАЧАЛАСЬ ВАКЦИНАЦИЯ НАСЕЛЕНИЯ ПРОТИВ COVID-19
                ВАКЦИНОЙ ДЛЯ ПРОФИЛАКТИКИ НОВОЙ КОРОНАВИРУСНОЙ ИНФЕКЦИИ COVID-19 ГАМ-КОВИД-ВАК.
            </a>
            </h5>
            <p>
                В поликлинике ОГАУЗ «ГКБ №3 им. Б.И. Альперовича» началась вакцинация населения против COVID-19
                вакциной для профилактики новой коронавирусной инфекции COVID-19 Гам-Ковид-Вак. Вакцинация
                проводится строго…
            </p>
        </div>
    </div>
</section>
{% endblock %}


